 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  nav{
    padding: 0 6vw;
    height: 70px;
  }
  nav h2{
    font-size: 4vw;
  }
  .nav-part2{

  }
  .nav-part2 h4{
    display: none;

  }
  nav i{
    display: block;
  }
  .box1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .font1 h3{
    color: pink;
    font-size: 30px;
}
  .box{
    width: 200px;
    height: 250px;
    background-color: aquamarine;
  }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  .box1{
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
  .font1 h3{
    color: red;
    font-size: 50px;
}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .box1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .font1 h3{
    color: crimson;
    font-size: 70px;
}
.box{
  width: 250px;
  height: 300px;
  background-color: lightpink;
}
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

 /* Extra Large devices (desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {

   }

 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }